<div class="cadre">
  <div class="subcadre">
    <h2>Patient n°<label>{{ idPatient }}</label></h2>
    <p>Affected by: <label>{{ illness }}</label></p>
    <p>Level of Pain: <label>{{ levelPain }}</label></p>
    <p>Hospital: <label>{{ hospital }}</label></p>
    <input routerLink="/onlive" type="button" class="btn btn-secondary" value="Return">
  </div>
</div>
