<div class="col-xs-12">

  <h2>Rescue Humans Data</h2>

  <div class="buttonPosition">
  <p>Update : {{ lastUpdate | date: 'short' }}</p>
    <button class="btn btn-secondary" (click)="onFetch()">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-counterclockwise" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2v1z"/>
        <path d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466z"/>
      </svg>
    </button>
  </div>

  <ul class="list-group" style="margin-bottom: 1em;">
    <app-patient  *ngFor="let patient of patients; let i = index"
                  [indexOfPatient]="i"
                  [patientFirstName]="patient.First_name"
                  [patientLastName]="patient.Last_name"
                  [patientIllness]="patient.Illness"
                  [patientLevelPain]=patient.Level_pain
                  [patientHospital]="patient.Hospital"
                  [id]="patient.Id_patient">
    </app-patient>
  </ul>

</div>
