label{
  font-weight: bold;
}

li{
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}

.list-patient{
  display: flex;
  justify-content: space-between;
}

.droite{
  margin-left: 0.3em;
}
