<li *ngIf="id!=0" class="list-group-item">
  <div class="list-patient" style="display: flex; justify-content: space-between;">
    <div> Patient {{ id }}  : <label>{{ patientFirstName }} {{ patientLastName}}</label> </div>
    <div class="droite" *ngIf="this.mobile == false"> affected by <label>{{ patientIllness  }}</label> (level <label>{{ patientLevelPain }}</label>)
      on the <label>{{ patientHospital }}</label> waiting list
    </div>
  </div>
  <a *ngIf="this.mobile==true" [routerLink]="[id]" class="btn btn-info" style="height: 38px">Detail</a>
</li>
<!-- Pain : {{ patientLevelPain}} || Supported in hospital : {{ patientHospital}}  -->
