<nav class="navbar navbar-expand-sm navbar-light bg-white" style="width: 1140px;">
  <a class="navbar-brand" href="auth"><img src="../../assets/images/logoRh.png" alt="Rescue Human" width="60px"></a>
  <button style="width: 60px; height:60px;"class="navbar-toggler" (click)="collapse=!collapse" type="button" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span></button>

  <div class="navbar-collapse" (click)="collapse=true" [hidden]="collapse" >
    <ul class="navbar-nav">
      <li routerLinkActive="active">
        <a class="nav-link" routerLink="onlive">RH Data</a>
      </li>
      <li routerLinkActive="active">
        <a class="nav-link" routerLink="book">Book Appointment</a>
      </li>
    </ul>
  </div>
</nav>
