div{
  display: grid;
  justify-content: center;
}

button{
  margin-bottom: 20px;
  margin-top: 20px;
  width: 10em;
  font-size: 2em;
}

h2{
  margin-left: auto;
  margin-right: auto;
}

.title{
  color: #17a2b8;
  font-style: italic;
  font-weight: bold;
}
