<div style="margin: 2em auto 4em auto">
  <h2>Welcome to</h2>
  <h2 class="title">Rescue Humans</h2>
</div>
<div>
  <button class="btn btn-success" *ngIf="!authStatus" (click)="bookAppointment()">Book an appointment </button>
  <button class="btn btn-info" (click)="dataOnLive()">RH Data </button>
</div>


<!-- <button class="btn btn-danger" *ngIf="authStatus" (click)="onSignOut()">Disconnect</button> -->
