<div class="appForm">
  <div>
    <form (ngSubmit)="onSubmit(formulaire)" #formulaire="ngForm">

      <div [ngClass]="{'stepVisible' : stepForm === 0,
                       'stepInvisible' : stepForm != 0}">

        <h4 class="formTitle">
          Your identity
        </h4>

        <div class="form-group">
          <label for="firstname" class="titleF1">
            First Name
          </label>
          <input type="text" id="firstName" class="form-control" name="firstName" ngModel required [(ngModel)]="patient.firstName">
        </div>

        <div class="form-group">
          <label for="lastname" class="titleF1">
            Last Name
          </label>
          <input type="text" id="lastName" class="form-control" name="lastName" ngModel required [(ngModel)]="patient.lastName">
        </div>

        <div class="stepAloneRight">
          <input [disabled]="!patient.firstName || !patient.lastName" type="button" class="btn btn-primary" value="Next Step" (click)="getDisplay(true)">
        </div>

      </div>

      <div [ngClass]="{'stepVisible' : stepForm === 1,
                       'stepInvisible' : stepForm != 1}">

        <h4 class="formTitle">
          Select your illness
        </h4>

        <div class="form-group">
          <div *ngFor="let illness of illnesses" class="radio-toolbar">
            <input id="enum_answer_{{illness.name}}" [value]='illness.name' type="radio" name="illness" (change)="getDisplay(true)" [(ngModel)]="selectedIllness" ngModel required [(ngModel)]="patient.illness">
            <label for="enum_answer_{{illness.name}}">
              {{illness.name}}
              <svg class="fleche">
                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
              </svg>
            </label>
          </div>
        </div>

        <div class="stepAloneLeft">
          <input type="button" class="btn btn-secondary" value="Previous Step" (click)="getDisplay(false)">
        </div>

      </div>

      <div [ngClass]="{'stepVisible' : stepForm === 2,
                       'stepInvisible' : stepForm != 2}">
        <h4 class="formTitle">
          Select your level of pain
        </h4>

        <div class="rating">
          <input type="radio" value="0" name="levelPain" id="star1" (click)="classHospital(0)" ngModel required [(ngModel)]="patient.levelPain">
          <label for="star1">
            <img src="https://image.flaticon.com/icons/svg/1933/1933511.svg" alt="Liked it" (click)="getDisplay(true)">
          </label>
          <input type="radio" value="1" name="levelPain" id="star2" (click)="classHospital(1)" ngModel required [(ngModel)]="patient.levelPain">
          <label for="star2">
            <img src="https://image.flaticon.com/icons/svg/742/742753.svg" alt="It's OK">
          </label>
          <input type="radio" value="2" name="levelPain" id="star3" (click)="classHospital(2)" ngModel required [(ngModel)]="patient.levelPain">
          <label for="star3">
            <img src="https://image.flaticon.com/icons/svg/742/742752.svg" alt="Disliked it">
          </label>
          <input type="radio" value="3" name="levelPain" id="star4" (click)="classHospital(3)" ngModel required [(ngModel)]="patient.levelPain">
          <label for="star4">
            <img src="https://image.flaticon.com/icons/svg/743/743280.svg" alt="Loved it">
          </label>
          <input type="radio" value="4" name="levelPain" id="star5" (click)="classHospital(4)" ngModel required [(ngModel)]="patient.levelPain">
          <label for="star5">
            <img src="https://image.flaticon.com/icons/svg/743/743225.svg" alt="Dead">
          </label>
        </div>
        <input type="button" class="btn btn-secondary" value="Previous Step" (click)="getDisplay(false)" style="width: 7em;">
      </div>

      <div [ngClass]="{'stepVisible' : stepForm === 3,
                       'stepInvisible' : stepForm != 3}">
        <h4 class="formTitle">
          Select your hospital
        </h4>

        <div class="form-group">
          <div *ngFor="let hospital of hospitals" class="radio-toolbar">
            <input id="enum_answer_{{hospital.name}}" [value]='hospital.name' type="radio" name="hospital" (change)="getDisplay(true)" [(ngModel)]="selectedHospital" ngModel required [(ngModel)]="patient.hospital">
            <label for="enum_answer_{{hospital.name}}">
              <div class="contentFlexAlign" style="font-size: 16px"> {{hospital.name}} </div>
              <div class="contentFlexAlign" style="font-size: 12px"> Wait time: {{transform(hospital.waitingList[pain].realTime)}} </div>
              <svg class="fleche">
                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
              </svg>
            </label>
          </div>

        </div>

        <div class="stepNextPrev">
          <input type="button" class="btn btn-secondary" value="Previous Step" (click)="getDisplay(false)">
        </div>

      </div>

      <div [ngClass]="{'stepVisible' : stepForm === 4,
                       'stepInvisible' : stepForm != 4}">

        <h4 class="formTitle">
          Validate your information
        </h4>

        <div class="flexAlign">
          <label class="titleF1"> First Name : </label> <p> {{ patient.firstName}} </p>
        </div>
        <div class="flexAlign">
          <label class="titleF1"> Last Name : </label>
          <p> {{ patient.lastName}} </p>
        </div>
        <div class="flexAlign">
          <label class="titleF1"> Illness : </label>
          <p> {{ patient.illness}} </p>
        </div>
        <div class="flexAlign">
            <label class="titleF1"> Level of Pain : </label>
            <p> {{ patient.levelPain}} </p>
        </div>
        <div class="flexAlign">
            <label class="titleF1"> Hospital : </label>
            <p> {{ patient.hospital }} </p>
        </div>

        <div class="stepNextPrev">
          <input type="button" class="btn btn-secondary" value="Previous Step" (click)="getDisplay(false)">
          <button type="sumbit" class="btn btn-success" [disabled]="formulaire.invalid">Validate</button>
        </div>

      </div>

    </form>
  </div>
</div>
