.appForm{
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
  background-color: white;
  max-width: max-content;
  margin: auto;
}

.titleF1{
  font-style: italic;
}

.form-group{
  display: grid;
  justify-content: center;
  margin-left: 30px;
  margin-right: 30px;
}

.form-control {
  width: 17em;
}

.formTitle{
  padding-bottom: 15px;
  margin : 1em 1em 1em 1em;
  font-weight: bold;
}

.radio-toolbar {
  margin: 2px;
}

.radio-toolbar input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.radio-toolbar label:hover svg.fleche {
  fill: white;
}
.radio-toolbar input[type="radio"]:checked + label svg.fleche {
  fill: white;
}

.radio-toolbar label {
  margin-left: -12px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  width: 18em;
  height: 4em;
  background-color: #f6fcfb;
  padding: 8px;
  font-family: sans-serif, Arial;
  font-size: 16px;
  border: 1px solid #444;
  border-radius: 1px;
  font-family: Calibri;
}

.radio-toolbar label:hover {
  color: white;
  background-color: green;
  left: .1em;
  fill: white;
}


.radio-toolbar input[type="radio"]:checked + label {
  color: white;
  background-color: green;
  left: .1em;
  fill: white;
}

.fleche {
  width: 20px;
  margin: .3em;
  fill: deeppink;
  height: 15px;
  right: 0px;
}

.rating {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 2em 2em 2em 2em;
}

@media only screen and (max-width: 600px) {
  .rating {
    position: relative;
    display: grid;
    justify-content: center;
    flex-direction: row;
    margin: 1em 1em 1em 1em;
  }
}
@media only screen and (max-width: 600px) {
.rating img {
  width: 4em;
  cursor: pointer;
  margin-bottom: 1em;
  }
}

@media only screen and (min-width: 600px) {
  .rating img {
    width: 5em;
    cursor: pointer;
    margin-left: 2em;
    margin-right: 2em;
  }
}

.rating label {
  filter: grayscale(100%);
}

.rating img:hover {
  opacity: 0.5;
}

.rating [type="radio"]:hover + label {
  opacity: 1;
  filter: grayscale(0);
}

.rating [type="radio"]:checked + label {
  opacity: 1;
  filter: grayscale(0);
}

.rating input[type="radio"] {
  appearance: none;
}

.stepVisible{
  display: grid;
  opacity:1;
}

.stepInvisible{
  transition:0.5s linear all;
  opacity:0;
  display: none;
}

.stepNextPrev{
  display:flex;
  justify-content: space-between;
  margin-top: 3em;
}

.stepAloneLeft{
  display: flex;
  justify-content: left;
  margin-top: 3em;
}

.stepAloneRight{
  display: flex;
  justify-content: center;
  margin-top: 3em;
}

.flexAlign{
  display:flex;
  justify-content: space-between;
}

.contentFlexAlign{
  margin-bottom: auto;
  margin-top: auto;
}


